footer{
    .right-piece{
        .logo{
            ul{
                margin: 0;
                padding: 0;
                li{
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .adress{
            ul{
                li{
                    a{
                        text-decoration: none;
                        color:black;
                    }
                }
            }
        }
    }
}