#news{
    .head-piece{
        background-color: #d4edbf;
        min-height: 320px;
        h2{
            position: absolute;
            right: 5%;
            bottom: 20%;
        }
    }
    .right-piece{
        background-color: #e5e9df;
        .head{
            h4{
                font-weight: bold;
            }
            a{
                text-transform: none;
                text-decoration: none;
                color: gray;
            }
        }
        .content{
            a{
                text-decoration: none;
                color: orange;
                text-transform: uppercase;
            }
        }
    }
}