#projects{
    .container-fluid{
        .row{
            .head-piece{
                background: #ebb240;
                .content{
                    position: relative;
                    z-index: 1;
                    /*menu*/
                    ul{
                        li{
                            position: relative;
                            a{
                                text-decoration: none;
                                text-transform: uppercase;
                                color: white;
                                font-size: 14px;
                                transition: all .3s;
                            }
                            /*arrows*/
                            i{
                                position: absolute;
                                left: -125px;
                                top: 4px;
                                opacity: 0;
                                transition: all .3s;
                            }
                            &:hover{
                                a{
                                    color: black;
                                }
                                i{
                                    left: -17px;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            button{
                background: none;
                border: none;
            }
            .fondue{
                background-image: url("../img/fondue.png");
                background-position: right;
                background-size: cover;
            }
            .louis{
                background-image: url("../img/louis.png");
                height: 605px;
                background-size: cover;
                background-position: center;
            }
            .p22{
                background-image: url("../img/P22.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 605px;
                .content{
                    position: absolute;
                    right: 0;
                    button{
                        transform: translateY(-485%);
                    }
                    .heart{
                        transform: translate(-230%,-10%);
                    }
                }
            }
            .sesann{
                background-image: url("../img/sesann.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                height: 400px;
                position: relative;
                .content{
                    position: absolute;
                    bottom: 20px;
                }
            }
            .alessi{
                background-image: url(../img/alessi.png);
                background-size: cover;
                background-repeat: no-repeat;
                .content{
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }
            .potter{
                background-image: url(../img/potter.png);
                height: 275px;
                background-size: cover;
                background-position: center;
            }
            .tabano{
                background-image: url(../img/tabano.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 443px;
                ul,button{
                    position: absolute;
                    bottom: 20px;
                }
                button{
                    right: 20px;
                }
            }
            .fiji{
                background-image: url(../img/fiji.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 275px;
                .content{
                    position: absolute;
                    right: 7px;
                    top: 40px;
                }
            }
            .time-line{
                @extend .head-piece;
                height: 400px;
                overflow: hidden;
                .line{
                    right: 100px;
                }
            }
        }
    }
}
